.contactsContainer {
    display: grid;
    grid-template-areas:
        "users users users users"
        "map map map map"
        "addresses feedback feedback feedback ";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 50px;
}

.users {
    grid-area: users;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.map {
    grid-area: map;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map > img {
    width: 60%;
}

.map-container {
    height: 100%;
    width: 100%;
}

.addresses {
    grid-area: addresses;
    display: flex;
    flex-direction: column;
}

.contactsInfo {
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 30px;
}

.contactsInfo > div {
    gap: 10px;
}

.contactsInfo > div > div:hover {
    cursor: default;
}

.contactsLocation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.contactsLocation > div,
.contactsPhone > div,
.contactsMail > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsPhone,
.contactsMail {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.feedback {
    grid-area: feedback;
}
