.cart {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
}

.cart > div > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.imageCart {
    width: 150px;
    height: 150px;
    padding-left: 20px;
}

.cartTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    padding-left: 20px;
}

.cartTitleStyle {
    font-weight: lighter;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cartItemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartPrice {
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    align-self: center;
}

.deleteButtonStyle {
    background-color: white;
    border: none;
    color: black;
    font-size: 1rem;
}

.deleteButtonStyle:hover {
    color: coral;
    cursor: pointer;
}
