.container {
    display: grid;

    grid-template-areas:
        "header1 header1 header1 header1"
        "content1 content1 content1 content1"
        "footer1 footer1 footer1 footer1";
    grid-template-rows: 150px 1fr 500px;
    grid-row-gap: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    background-color: rgba(238, 238, 238, 0.432);
}

.header {
    border: solid 1px black;
}

.footer {
    margin-top: 50px;
    color: white;
    width: 100%;
    height: auto;
    bottom: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerContent {
    width: 90%;
    height: 90%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "footerLogo footerPages footerButton footerLocation"
        "footerIcons footerIcons footerIcons footerIcons"
        "footerText footerText footerText footerText";
    border-bottom: solid 1px rgba(255, 255, 255, 0.26);
}

.footerPages {
    grid-area: footerPages;
}
.footerButton {
    grid-area: footerButton;
}
.footerLocation {
    grid-area: footerLocation;
}
.footerIcons {
    grid-area: footerIcons;
    display: flex;
    justify-content: center;
}
.footerText {
    grid-area: footerText;
}
.footerLogo {
    grid-area: footerLogo;
}

.footerMoreInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.content {
    grid-area: content1;
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    background: black;
    grid-area: header1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer1;
}

.header > a {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.header > a:hover {
    text-decoration: underline;
}
.header > a.active {
    color: rgb(18, 179, 179);
    cursor: default;
}

.catalogContent {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-row-gap: 80px;
    grid-column-gap: 80px;
    /* align-items: center;
    justify-items: center; */
}

.catalogContent > div {
    /* height: 100%;
    width: 100%; */
    border: solid 1px black;
    border-radius: 10px;
    font-size: 1.7rem;
}

.catalogContent > div:hover {
    background-color: rgba(168, 228, 208, 0.404);
}
.catalogContent > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.productContainer {
    display: grid;
    grid-template-areas:
        ". sort sort"
        "filter productsList productsList"
        ". productsList productsList"
        ". productsList productsList";

    grid-row-gap: 40px;
    grid-column-gap: 30px;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 50px auto 1fr;
}

.filters {
    grid-area: filter;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
}

.productsList {
    grid-area: productsList;
}
.sorting {
    grid-area: sort;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
}
.sorting > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-auto-rows: 400px;
    grid-area: products;
}

.oneProduct {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;

    border-radius: 30px;
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    background-color: white;

    align-self: center;
    justify-content: center;
    /* padding-bottom: 30px; */
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
    transition: 0.15s;
}
.animation::before {
    opacity: 0;
    scale: (1);
    transition: all 1s ease-in-out;
}
.animation::after {
    opacity: 1;
    scale: (2);
    transition: all 1s ease-in-out;
}

.oneProduct > div {
    align-self: center;
    justify-self: center;
    /* text-align: justify; */
    /* padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px; */
    /* transition: 0.3s; */
}
.oneProduct:hover {
    /* position: absolute; */
    /* width: 310px;
    height: 410px; */
    /* border: solid 1px coral; */
    transition: 0.15s;
    transform: scale(1.06);

    /* cursor: pointer; */
}
.oneProduct > div > img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

.imageStyle {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 170px;
    height: 170px;
}

.titleStyle {
    padding-right: 10%;
    padding-left: 10%;
    font-weight: lighter;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

.titleStyle > a {
    text-decoration: none;
    color: black;
}
.titleStyle > a:hover {
    color: coral;
}

.priceStyle {
    font-size: 1.4rem;
    font-weight: bold;
}
.ratingStyle {
    display: flex;
}
.addButtonStyle {
    padding-bottom: 20px;
    /* background-color: coral; */
    /* padding-bottom: 10px; */
}
.addButtonStyle > .cartLink > a {
    text-decoration: none;
    width: 130px;
    height: 40px;
    background-color: rgb(9, 182, 9);
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.addButtonStyle > .cartLink > a:hover {
    background-color: green;
}
.cartLink {
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.inputButtonStyle:hover {
    background-color: rgb(250, 151, 81);
    box-shadow: rgb(112, 103, 81);
    cursor: pointer;
}
.inputButtonStyle {
    width: 130px;
    height: 40px;
    background-color: coral;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    border-color: coral;
    font-weight: 500;
}
.cartContainer {
    display: grid;

    grid-template-areas:
        " cartProducts cartProducts totalPrice"
        " cartProducts cartProducts ."
        " cartProducts cartProducts ."
        " cartProducts cartProducts .";

    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* padding-left: 30px; */
    padding-right: 100px;
}

.totalPrice {
    grid-area: totalPrice;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);

    position: sticky;
    top: 30px;
}
.cartProducts {
    grid-area: cartProducts;
    /* border: solid 1px black; */
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 30px;
    /* background-color: rgba(238, 238, 238, 0.432); */
}

.cart {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    /* border: solid 1px black; */
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
}

.cart > div > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.imageCart {
    width: 150px;
    height: 150px;
    padding-left: 20px;
}

.cartTitle {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    overflow: hidden;
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    padding-left: 20px;
}
.cartTitleStyle {
    font-weight: lighter;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-align: center; */
}
.cartRating {
}

.cartPrice {
    font-size: 1rem;
    font-weight: 500;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
}

.cartButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deleteButtonStyle {
    background-color: white;
    border: none;
    color: black;
    font-size: 1rem;
}
.deleteButtonStyle:hover {
    color: coral;
}

.emptyCart > div {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 30px;
}

.emptyCart > div > a {
    font-size: 1.5rem;
    background-color: coral;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.emptyCart > div > #text {
    font-size: 1.5rem;
    background-color: coral;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.emptyCart > div > a:hover {
    background-color: chocolate;
}

.filters > div {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    font-size: 1.2rem;
    padding-bottom: 10px; */
}
.inputMin,
.inputMax {
    width: 80px;
    height: 30px;
    font-size: 1rem;
}
.inputStyle {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
}
.sliderStyle {
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.counterStyle {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: solid 1px #afafaf; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.counterButton {
    width: 25px;
    height: auto;
    background-color: white;
    border: none;

    font-size: 22px;
    text-align: center;
    /* text-size-adjust: 5rem; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.counterText {
    width: 100%;
    height: 20px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;

    /* align-self: center; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.counterText:focus {
    border: none;
    outline: none;
    cursor: default;
}
.counterText:hover {
    cursor: default;
}
.counter {
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .counterDecrease {
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
} */

.cartItemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartQuantity {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.cartTotalPrice {
    font-family: sans-serif;
    font-weight: 600;
}

.buyButton {
    width: 250px;
    height: 60px;
    background-color: coral;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    border-color: coral;
    font-weight: 500;
}

.buyButton:hover {
    background-color: rgb(250, 151, 81);
    box-shadow: rgb(112, 103, 81);
    cursor: pointer;
}

.buttonTextStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    border-radius: 12.5px;
}

.buttonTextStyle:active {
    position: relative;
    top: 1px;
}

.buttonTextStyle:hover {
    cursor: pointer;
}
.counterButton {
    cursor: pointer;
}

.filterButton {
    width: 130px;
    height: 40px;
    background-color: coral;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    border-color: coral;
    /* font-weight: 500; */
}

.filterButtonStyle {
    width: 160px;
    height: 40px;
}

.oneProductContainer {
    display: grid;
    grid-template-areas:
        "oneProductTitle oneProductTitle ."
        "oneProductImage oneProductInfo oneProductPriceContainer"
        "oneProductImage oneProductInfo oneProductPriceContainer"
        "oneProductImage oneProductInfo ."
        "oneProductImage oneProductInfo .";
    grid-template-columns: auto 2fr 1fr;
    grid-column-gap: 20px;
    /* grid-row-gap: 20px; */
    grid-template-rows: 1fr auto auto;
    /* grid-template-rows: 150px 1fr 150px;
    grid-row-gap: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    background-color: rgba(238, 238, 238, 0.432); */
}

.oneProductTitle {
    grid-area: oneProductTitle;
}

.oneProductImage {
    grid-area: oneProductImage;
    background-color: white;
}
.oneProductDescr {
    grid-area: oneProductDescr;
    text-align: justify;
    /* padding-right: 50px; */
}

.oneProductRating > span {
    position: static;
}

.oneProductImage {
    display: flex;

    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.oneProductImage > div > img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.oneProductPriceContainer {
    grid-area: oneProductPriceContainer;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.oneProductInfo {
    grid-area: oneProductInfo;
}

.oneProductAddButton > input {
    width: 100%;
    height: 50px;
    background-color: coral;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    border-color: coral;
    font-weight: 500;
    font-style: inherit;
    font-family: inherit;
}

.oneProductAddButton > input:hover {
    background-color: rgb(250, 151, 81);
    box-shadow: rgb(112, 103, 81);
    cursor: pointer;
}

.oneProductAddButton > input:active {
    position: relative;
    top: 3px;
}

.oneProductAddButton > .cartLink > a {
    text-decoration: none;
    width: 100%;
    height: 50px;
    background-color: rgb(9, 182, 9);
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.oneProductAddButton {
    padding-top: 20px;
}

.oneProductAddButton > .cartLink > a:hover {
    background-color: green;
}

.oneProductAddButton > .cartLink {
    width: 100%;
    height: 50px;
}

.oneProductPriceStyle {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-family: sans-serif;
    /* user-select: text; */
}

.oneProductRatingStyle {
    display: flex;
    justify-content: left;
    gap: 10px;
}
.oneProductRatingStyle div > span {
    position: static;
}

.oneProductDescr {
    font-size: 16px;
    line-height: 23px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 400;
    color: rgb(21, 21, 40);
}

.oneProductInfo {
    padding-left: 40px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.imageSlider {
    /* display: flex; */
    object-fit: contain;
    width: 100%;
    height: 600px;
    align-self: center;
    align-items: center;
    /* padding-left: 20%; */
    padding-top: 20px;
}

.imageSliderContainer {
    width: 100%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
}

.hui {
    width: 750px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .imageSliderContainer > .react-3d-carousel .slider-container .slider-right div {
    border: none;
}
.imageSliderContainer > .react-3d-carousel .slider-container .slider-left div {
    border: none;
} */

:where(.css-dev-only-do-not-override-ph9edi).ant-carousel
    .slick-dots
    li
    button {
    background: black;
    height: 5px;
    border-radius: 3px;
    /* width: auto; */
}

:where(.css-dev-only-do-not-override-ph9edi).ant-carousel
    .slick-dots
    li.slick-active
    button {
    background: coral;
}

.css-187mznn-MuiSlider-root {
    /* display: flex; */
    color: coral !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: coral !important;
}

.loadingStyle {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-18lrjg1-MuiCircularProgress-root {
    color: coral !important;
}

.footerPages {
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.footerPages > div > a {
    text-decoration: none;
    color: white;
    /* padding-bottom: 15px; */
}
.footerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.logoStyle {
    object-fit: contain;
    width: 100%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerButton {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.footerButtonStyle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

.footerButtonStyle:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.footerButtonStyle:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.footerButtonStyle:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.footerContacts {
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.footerLocation {
    /* padding-left: 10px; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.footerLocation > div {
    /* text-align: left; */
}

.footerPhone {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.footerPhone > div {
    /* text-align: left; */
}

.footerMail {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.footerMail > div {
}

.footerContactsInfo {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 20px;
}
