.container {
    display: grid;

    grid-template-areas:
        "header1 header1 header1 header1"
        "content1 content1 content1 content1"
        "footer1 footer1 footer1 footer1";
    grid-template-rows: 150px 1fr 150px;
    grid-row-gap: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.header,
.footer {
    border: solid 1px black;
}

.content {
    grid-area: content1;
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    background: black;
    grid-area: header1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer1;
}

.header > a {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.header > a:hover {
    text-decoration: underline;
}
.header > a.active {
    color: rgb(18, 179, 179);
    cursor: default;
}

.catalogContent {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-row-gap: 80px;
    grid-column-gap: 80px;
    /* align-items: center;
    justify-items: center; */
}

.catalogContent > div {
    /* height: 100%;
    width: 100%; */
    border: solid 1px black;
    border-radius: 10px;
    font-size: 1.7rem;
}

.catalogContent > div:hover {
    background-color: rgba(168, 228, 208, 0.404);
}
.catalogContent > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.productContainer {
    display: grid;
    grid-template-areas:
        ". sort sort"
        "filter products products"
        ". products products"
        ". products products";

    grid-row-gap: 50px;
    grid-column-gap: 30px;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 50px auto 1fr;
}

.filters {
    grid-area: filter;
}

.sorting {
    grid-area: sort;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-rows: auto;
    grid-area: products;
}

.filters,
.sorting {
    border: solid 1px black;
}

.oneProduct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: solid 1px black;
    border-radius: 30px;
    /* justify-content: space-between; */
}

.oneProduct > div > img {
    /* display: flex; */
    /* align-items: center; */
    width: 80%;
    height: 100%;
    object-fit: contain;

    /* justify-content: center; */
    align-content: space-between;
    flex-wrap: wrap;
}

.imageStyle {
    padding-top: 20px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
