.container {
    display: grid;

    grid-template-areas:
        "header1 header1 header1 header1"
        "content1 content1 content1 content1"
        "footer1 footer1 footer1 footer1";
    grid-template-rows: 150px 1fr 150px;
    grid-row-gap: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    background-color: rgba(238, 238, 238, 0.432);
}

.header,
.footer {
    border: solid 1px black;
}

.content {
    grid-area: content1;
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    background: black;
    grid-area: header1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer1;
}

.header > a {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.header > a:hover {
    text-decoration: underline;
}
.header > a.active {
    color: rgb(18, 179, 179);
    cursor: default;
}

.catalogContent {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-row-gap: 80px;
    grid-column-gap: 80px;
    /* align-items: center;
    justify-items: center; */
}

.catalogContent > div {
    /* height: 100%;
    width: 100%; */
    border: solid 1px black;
    border-radius: 10px;
    font-size: 1.7rem;
}

.catalogContent > div:hover {
    background-color: rgba(168, 228, 208, 0.404);
}
.catalogContent > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.productContainer {
    display: grid;
    grid-template-areas:
        ". sort sort"
        "filter products products"
        ". products products"
        ". products products";

    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 50px auto 1fr;
}

.filters {
    grid-area: filter;
}

.sorting {
    grid-area: sort;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
}
.sorting > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-auto-rows: 400px;
    grid-area: products;
}

/* .oneProduct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    background-color: white;
} */
.oneProduct {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* grid-auto-rows: 200px; */
    /* grid-row-gap: 80px; */
    /* grid-column-gap: 80px; */
    border-radius: 30px;
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    background-color: white;

    align-self: center;
    justify-content: center;
}

.oneProduct > div {
    align-self: center;
    justify-self: center;
    /* text-align: justify; */
    /* padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px; */
}
.oneProduct:hover {
    border: solid 2px black;

    cursor: pointer;
}
.oneProduct > div > img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

.imageStyle {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 170px;
    height: 170px;
}

.titleStyle {
    padding-right: 10%;
    padding-left: 10%;
    font-weight: lighter;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

.priceStyle {
    font-size: 1.4rem;
    font-weight: bold;
}
.ratingStyle {
    align-self: center;
    /* justify-self: center; */
}
.addButtonStyle {
    /* background-color: coral; */
    padding-bottom: 10px;
}
.inputButtonStyle:hover {
    background-color: rgb(212, 99, 17);
    box-shadow: rgb(112, 103, 81);
    cursor: pointer;
}
.inputButtonStyle:active {
    box-shadow: 1px 1px 1px 1px;
}
.inputButtonStyle {
    width: 100px;
    height: 40px;
    background-color: coral;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    border-color: coral;
    font-weight: 700;
}
.cartContainer {
    display: grid;

    grid-template-areas:
        " cartProducts cartProducts totalPrice"
        " cartProducts cartProducts ."
        " cartProducts cartProducts ."
        " cartProducts cartProducts .";

    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.totalPrice {
    grid-area: totalPrice;
    border: solid 1px black;
}
.cartProducts {
    grid-area: cartProducts;
    border: solid 1px black;
}

.cart {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-bottom: 50px;
}

.cart > div > img {
    /* display: flex; */
    /* align-items: center; */
    width: 150px;
    height: 150px;
    object-fit: contain;
    /* object-fit: contain; */

    /* align-content: space-between; */
    /* flex-wrap: wrap; */
}

.imageCart {
    /* padding-top: 20px; */
    width: 150px;
    height: 150px;
    /* object-fit: contain; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.cartTitle {
    align-self: center;
    /* justify-content: center; */
}

.cartRating {
    align-self: center;
}

.cartPrice {
    align-self: center;
}

.cartButtons {
    align-self: center;
}

.emptyCart > div {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 30px;
}

.emptyCart > div > a {
    font-size: 1.5rem;
    background-color: coral;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.emptyCart > div > #text {
    font-size: 1.5rem;
    background-color: coral;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.emptyCart > div > a:hover {
    background-color: chocolate;
}

.filters > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    font-size: 1.2rem;
    /* padding-bottom: 10px; */
}
.filters > div > input {
    width: 60px;
    height: 30px;
}
.inputStyle {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
}
.sliderStyle {
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.filters {
    background-color: white;
}
